@charset "ut-f8";

:root {
    --cor001: #E7DED9;
    --cor002: #BEC7C4;
    --cor003: #314B76;
    --cor004: #314B76;
    --cor005: #696E71;
    --cor006: #EE4456;
}

.img {
    margin: 10px 0px 0px 0px;
}

.img > img{
    width: 200px;
    height: 80px;
}

#titulo_princ{
    margin: 30px 0px 0px 0px;
}

.primeira_impresao {
    margin: 50px 0px 0px 0px;
}

#sites_ex {
    background-color: transparent;
    width: 80vw;
    max-width: 330px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.site {
    background-color: #32bedd;
    border-radius: 20px;
    position: absolute;
    box-shadow: 2px 2px 5px #00000055;
}

#site_1 {
    width: 120px;
    height: 190px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-image: url(../midia/img/formulariog.png);
    background-size: cover;
    background-position: center;
    animation-name: subir_site1;
    animation-duration: 0.8s;
}

#site_2 {
    width: 200px;
    height: 60px;
    z-index: 3;
    top: 10px;
    right: -20px;
    background-image: url(../midia/img/fundo_aple.png);
    background-size: cover;
    background-position: center ;
    opacity: 0;
    animation-name: deslisar_site2;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

#site_3 {
    width: 60px;
    height: 200px;
    z-index: 3;
    right: 5px;
    bottom: 30px;
    background-image: url(../midia/img/fundo_aple.png);
    background-size: cover;
    background-position: bottom;
    opacity: 0;
    animation-name: subir_site3;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

#site_4 {
    width: 90px;
    height: 130px;
    z-index: 3;
    top: 30px;
    background-image: url(../midia/img/formulariop.png);
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation-name: decer_site4;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#site_5 {
    width: 160px;
    height: 80px;
    z-index: 2;
    background-color: #e8ba12;
    bottom: 40px;
    background-image: url(../midia/img/relogio01.png);
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation-name: deslisar_site5;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.texto{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    margin-top: 40px;
}

.texto > p {
    width: 70vw;
    max-width: 500px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3em;
    text-align: center;
    opacity: 0.9;
}

button {
    border: none;
    background-image: linear-gradient(to bottom ,var(--cor006) , #db4151);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.525),
    inset 2px 2px 5px rgba(255, 255, 255, 0.403);
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    opacity: 0;
    animation-name: aparecer_botao;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
    color: black;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.232);
}

.fundo_azul {
    width: 100%;
    height: 400px;
    background-color: var(--cor003);
    margin: 50px 0px 0px 0px;
    position: relative;
}

